<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        GRUPO DISTELSA
                    </a>
                </li>
                <li>
                    <a href="https://unis.edu.gt/">
                        Universidad del Istmo
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Hecho por
            <a href="https://unis.edu.gt/" target="_blank">Universidad del Istmo</a>.
        </div>
    </div>
</footer>
