<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header text-center">
            <img src="../../../../assets/img/distelsa-logo.png" alt="Distelsa-logo" width="200px">
        </div>
        <div class="card-body">
            <form [formGroup]="formUserLogin">
                <div class="form-group">
                    <div class="form-label-group">
                        <label for="inputEmail">Correo</label>
                        <input type="email" name="inputEmail" class="form-control" placeholder="example@example.com"
                            formControlName="correo">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" name="inputPassword" class="form-control" placeholder="Password"
                            formControlName="password">
                    </div>
                </div>
                <a class="btn btn-primary btn-block" (click)="LogIn()" *ngIf="formUserLogin.valid">Ingresar</a>
            </form>
        </div>
    </div>
</div>